.homepage-single-product-container{

    display:flex;
    flex-direction: column;
    width:48%;
    
    justify-content: flex-start;
    
    margin-top: 0;
    height:auto;
    
    margin-bottom: 1.5rem;
    
    position:relative;
    
 
    
}

.homepage-single-product-container .image-container {
    background: none;
}

.homepage-single-product-container:hover {
    
    
    box-shadow: 0 1px 3px 1px rgb(131, 130, 130);
    transition: .3s;
}

.homepage-single-product-container:hover .morebtn{
    display:block;
}

.homepage-single-product-container .image-container {
    height:63%; 
    


}



.homepage-single-product-container .content-container {

    display: flex;
    justify-content: flex-end;
    text-align: right;  
    flex-direction: column;
    height:37%;
  
}

.homepage-single-product-container .name{
    font-weight: 100;
    overflow: hidden;
    height:2.5rem;
    margin-bottom: 1rem;
    padding:.3rem;
    padding-bottom: 0;
  

}

.homepage-single-product-container .price {
    font-weight: bold;
    color:#F7477F;
    padding:.5rem;
    padding-top:0;
    
    
    
}

.homepage-single-product-container .reviews {
    color:#F7477F;
}


.homepage-single-product-container .morebtn{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50% );
    display:none;
    padding:.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition:.3s ease;
    color:white;
  
    background:white;
    
    box-shadow: 0 .1px .3px .3px lightgray 
    
    

}

.homepage-single-product-container a{
    color:red;

}




.homepage-single-product-container .moreinfo{
  

   
    position:fixed;
    top:15%;
    left:10%;
    width:80%;
    height:70%;
      display:none;
      text-align: center;
      z-index:3;
      
      background:#C4B3B3;
      
      padding:2rem;
      border-radius: 4px;

}

.homepage-single-product-container .closebtn{


font-size:1.5rem;
position:absolute;
cursor: pointer;
right:1rem;
top:1rem;
z-index:2;
color: #EF5D25;

}

.homepage-single-product-container .moreinfo-details{

    text-align: center;
    color:red;
    opacity: 1;

}

.homepage-single-product-container .displayblock{
    display: block;
}


.homepage-single-product-container .displaynone{
    display:none
}

@media only screen and (min-width:500px) {

    .homepage-single-product-container{
        width:30%
    }

}