.eventslist-container .list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10rem;
    margin: 4rem;
    
    
}

.eventslist-container .intro{
    text-align: center;
    margin-top: 4rem;
    font-size: 1rem;
}

.eventslist-container {
    margin:2rem;
}

.eventslist-container .currentposition{
    font-weight: 100;
    font-size: .7rem;
    color:black;
}