.page-products-container {
    margin:2rem;
}

.page-products-container .currentposition {
    font-weight: 100;
    font-size: .7rem;
    color:black;
}

.page-products-container .headline {
    display:flex;
    justify-content: space-between;
    align-items: center;
  
    margin: 2rem 0;

    
}

.page-products-container .maincontent {
    display:flex;
    justify-content: space-between;
  
}

.page-products-container .sidebar{
    width:20%;
    margin-right:2rem;
}

.page-products-container .productlist {
    width:80%;
}