.one{
    widows: 100%;
    height:40px;
    background-color: red;
}

.two{
    widows: 100%;
    height:40px;
    background-color: blue;
}

.three{
    widows: 100%;
    height:40px;
    background-color: yellow;
}